.pagelink {
     color: blue; 
     font-size: 22px;
     font-family: Microsoft YaHei UI;
}

table.pagelist {
    width: 100%;
    box-sizing: border-box;
    border: 0px solid rgb(200, 200, 200);
    caption-side: bottom;
    border-collapse: collapse;
}